body{
    background-color: #E7E7E7;

}

.box_head{
    background: radial-gradient(#A7CAFF, pink);
    position:relative;
    left:10px;
    height: 70px;
    width: 98%;
    box-shadow: 0-0 10px;
}

.box{
    color: black;
    font-size: 20px;
    position:relative;
    top:25px;
    left:30%;
    margin-right:30px;

}
.name{
     position:relative;
     top:25px;
     left:15px;

}

.box:hover{
    font-size: 25px;

}


.comment{
    background-color: #B3BBCD;
    border-radius: 2px;
    position:relative;
    left: 80%;

}